body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	height: 300vh;
}
a{
	text-decoration: none;
}
.header{
	padding-top: 10px;
	background-color:aquamarine;
	padding-bottom: 10px;
}
.header img{
	width: 90px;
	height: 90px;
}
nav{
	padding: 10px 70px;
}
.nav-brand{
	float: left;
}
.nav-group{
	list-style-type: none;
	margin-top: 0;
	
}
.nav-item a{
	text-decoration: none;
	color: black;
	float: right;
	margin-right: 0px;
	font-size: 15px;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
nav li{
	display: inline-block;
	padding: 20px;
}
/* HEADER*/

.page-text{
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
	line-height: 20px;
	padding-top: 180px;
	padding-left: 90px;
	padding-right: 90px;
	justify-content: center;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/patientdoctor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.page-text button a{
	text-decoration: none;
	color: black;
	font-weight: bold; 
}
.page-btn{
	border:1px solid white;
	background: aquamarine;
	border-radius: 10px;
	color: white;
	margin: 20px;
	padding: 15px;
	letter-spacing: 1px;
}
.page-btn btn:hover{
	background: #3fa154;
}

/* SECTION-ONE*/
.section-one{
	background-color: white;
	padding: 50px 70px;
}
.section-one h1:after{
	content: "";
	position: absolute;
	left: 600px;
	bottom: -5px;
	border-bottom: 5px solid aquamarine;
	width: 5%;

}
.section-one h1,
.section-one p{
	text-align: center;
	justify-content: center;
}
.page-btn .fa{
	font-size: 20px;
	color: black;
}
.page-btn .far{
	font-size: 20px;
	color: white;
}
.section-boxes{
	height: 455px;
}
.section-boxes-content{
	background-color: rgba(225, 224, 224, 0.5);
	border-radius: 20px;
	width: 30%;
	float: left;
	height: 450px;
	box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	text-align: center;
	border:1px solid ;
	padding: 1px 0px;
	margin-left: 1%;
	margin-right: 20px;
}
.section-boxes-content button{
	margin-top: 20px;
}
.section-boxes-content p{
	margin-bottom: 50px;
	padding: 10px;
}
table, th, td{
	border:1p
}
/*ANNOUNCEMENT*/
.announcement{
	border-top: 0px;
	line-height: 30px;
	height: 450px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	width: 95%;
	height: 510px;
	margin-top: 0px;
	text-align: center;
	padding: 1px 1px;
	margin-left: 20px;
	margin-right: 20px;

}
.announcement h1{
	text-align: center;
	justify-content: center;
}
.left-ann{
	float: left;
	width: 45%;
}
.right-ann{
	float: right;
	width: 45%;

}

/*FOOTER*/
footer{
	position: absolute;
	height: 25%;
	top: 1800px;
	width: 100%;
	background-color:aquamarine;
}
footer li{
	padding: 4px;
	list-style-type: none;
}

footer a{
	line-height: 1px;
	color: black;
	text-decoration: none;
}
.left-footer{
	
	float: left;
	margin-left: 5px;
}
.middle-footer{
	width: 40%;
	float: left;
	margin-left: 5px;
	padding-left: 50px;
	color: black;
}
footer input[type=email]{
	width: 60%;
}
footer input[type=email],
footer button {
	border-radius: 0;
	padding: 5px;
	margin-top: 0;
	margin-right: 4px;
}
.right-footer{
	width: 35%;
	float: right;
	color: black;
	margin-left: 5px;
}
.right-footer ul{
	padding: 0;
}
.right-footer li{
	display: inline;
	padding: 8px;
	margin-right: 5px;
}
.right-footer img{
	height: 30px;
}
.copyright{
	font-size: 15px;
	height: 30px;
	color: black;
	text-align: center;
}
.copyright p{
	margin-top: 50px;
	padding-right: 90px;
	padding-top: 50px;
}
